services:
  app:
    build: 
      context: backend
      dockerfile: Dockerfile
    container_name: app_db
    environment:
      SPRING_PROFILES_ACTIVE: pre
    ports:
      - "8080:8080"

  web_dragon:
    build: 
      context: frontend_dragon
      dockerfile: Dockerfile
    container_name: web_dragon
    environment:
      API_BACKEND_URL: http://host.docker.internal:8080/api
    ports:
      - "8082:80"
    volumes:
      - ./frontend_dragon:/var/www/html

  web_stranger:
    build: 
      context: frontend_stranger
      dockerfile: Dockerfile
    container_name: web_stranger
    environment:
      API_BACKEND_URL: http://host.docker.internal:8080/api
    ports:
      - "8083:80"
    volumes:
      - ./frontend_stranger:/var/www/html
